@use "../../styles/variables" as *;

.home {
  padding: 1rem;
  border: 0.1rem solid $primaryBeige;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__header {
    text-decoration: underline;
    text-decoration-color: $primaryGreen;
    padding: 1rem;
    font-family: $fontYeseva;
  }
  &__intro {
    text-align: center;
  }
}
