@use "../../styles/variables" as *;

.nav {
  margin: 0.5rem 2rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border-bottom: 0.1rem solid $primaryBeige;
  &__image {
    height: 2rem;
    border-radius: 0.2rem;
  }
  &__link {
    color: $primaryBeige;
    text-decoration: none;
    &:hover,
    &:active {
      color: rgba($color: #ffe4c4, $alpha: 0.5);
      text-decoration: underline;
      text-decoration-color: $primaryGreen;
    }
  }
}
